<h1> Magic </h1>

<% content_for :right_content do%>
  <div class="subnav">
    <div style="padding-left:10%;padding-right: 10%">
      <ul id="subnav">
        <% @subnav.each_pair do |name, link| %>
          <li class="round-top nav_dm">
            <%= link_to name, link %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

<h1> Right Magic </h1>
<% end %>
