<div class="main_logo">
  <div class="header"> <h1><%= image_tag "ui/ddlogo.png"%></h1></div>
</div>
<div class="nav">
  <ul id="nav">
    <li class="round-top nav_dm">
      <%= link_to "DM", "/dm" %>
    </li>
    <li class="round-top nav_campaigns">
      <%= link_to "Campaigns", "/campaigns"%>
    </li>
    <li class="round-top nav_characters">
      <%= link_to "Characters", "/characters"%>
    </li>
  </ul>
</div>
